* {
	box-sizing: border-box;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

html {
	font-size: 62.5;
}

body {
	/*background: url(artwork.jpg) no-repeat center center fixed;*/
	background: url(landscape-1.jpg) no-repeat center center;
	background-color: #ABC0B0;
	background-size: cover;
	font-family: Lato, sans-serif;
}

.row {
	max-width: 96%;
	width: 1260px;
	margin: 0 auto;
}

header {
	/*padding: 10px 0;*/
	/*min-height: 60px;
	height: auto;*/
}

#header-wrap{
	background: #6AB47B;
}

#main-nav {
	/*width: 60%;*/
    float: right;
    display: inline-block;
    padding: 5px;
}

nav li {
	float:left;
	text-decoration: none;
	list-style: none;
	padding: 10px 20px;
	/*margin: 1%;*/
	
}

nav li a {
	text-decoration: none;
	/*color: #728b76;*/
	color: #fff;
}

nav li:hover{
	border-bottom: 4px solid blue;
}
#site-title {
	font-size: 2em;
	/*color: #728b76;*/
	color: #fff;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	display: inline-block;
	padding: 5px;
}

#quote {
	margin: 10% auto;
	text-align: center;
	min-height: 665px;
	color: #fff;
	/*background: url(yoda.png) no-repeat fixed right;*/
	font-family: 'Indie Flower', cursive;
	font-size: 3em;
}